/* body {
  padding: 50px;
} */

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* :root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
} */

body {
  /* --hue: var(--hue-neutral); */

  /* background-color: hsl(var(--hue), 100%, 20%); */
  background-color: yellowgreen !important;
}

body.correct {
  /* --hue: var(--hue-correct); */
  background-color: green;
}

body.wrong {
  /* --hue: var(--hue-wrong); */
  background-color: red;
}

.container {
  padding: 20px;
  margin: 20px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  /* --hue: var(--hue-neutral); */
  /* background-color: hsl(var(--hue), 100%, 50%); */
  background-color: yellowgreen;
  border-radius: 5px 10px;
  color: black;
  outline: none;
}

.btn:hover {
  border-color: blueviolet;
}

.btn.correct {
  /* --hue: var(--hue-correct); */
  background-color: green;
  color: white;
}

.btn.wrong {
  /* --hue: var(--hue-wrong); */
  background-color: red;
  color: white;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO only working for questions, not buttons */
.hide {
  display: none !important;
}